@page "/"
<style>
    .mud-table-bordered .mud-table-container .mud-table-root .mud-table-body .mud-table-row .mud-table-cell:not(:last-child) {
        border-right: 0px !important;
    }

    .gradient-text1 {
        font-weight: bold;
        font-size: inhereit;
        /* Adjust the size as per your design */
        background: linear-gradient(to top right, #29baf4, #ee40b8); /* Blue to pink */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
</style>
<PageTitle>Home</PageTitle>
<MudPaper Class="px-6 py-4 ma-2" Elevation="3" >
    <MudText Class="mb-0 pl-0" Typo="Typo.h3" GutterBottom="true">
        Welcome To <span class="gradient-text1">SmartSprint</span>
    </MudText>

    <MudPaper Class="px-2 py-4 ma-2" Elevation="0" Style="width: 70%!important">
        <MudText Typo="Typo.h6" Class="mb-0">
     
                <span class="gradient-text1">SmartSprint</span> simplifies project management with easy project, task, and sprint creation.
                Powered by <span class="gradient-text1">AI</span> and integrated with <span class="gradient-text1">Discord</span>, it helps you create tasks faster and manage projects directly from your server.
                Boost your productivity and get started today!

        </MudText>
    </MudPaper>

    <MudDivider Class="my-4" />

    <MudChip T="string" Icon="@Icons.Material.Filled.Folder" IconColor="Color.Inherit">
        <MudLink Color="Color.Inherit" Href="/projects">Projects</MudLink>
    </MudChip>
    <MudChip T="string" Icon="@Icons.Material.Filled.AccountCircle" IconColor="Color.Inherit">
        <MudLink Color="Color.Inherit" Href="/account">Account</MudLink>
    </MudChip>
</MudPaper>