@page "/projectselect"


@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<h1>Projects Home</h1>

<h2>Create a Project</h2>
<div Style="overflow-x: auto; height:100px;">
    <MudTextField @bind-Value="newName" Label="New Project" Variant="Variant.Text" ></MudTextField>
    <div Style="padding-top: 10px;">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="create">Create Project</MudButton>
    </div>
</div>


<h2>Current Projects</h2>
<MudSimpleTable Hover=true Bordered=true Striped=true Style="overflow-x: auto; height:400px;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in myProjectList)
        {
            <tr >
                <td>@todo.Title</td>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="create" >View Project</MudButton>
            </tr>
        }
    </tbody>
</MudSimpleTable>
















@code {
    string newName = "";
    public class myProject
    {
        public int ID { get; set; }

        public String Title { get; set; }
    }

    new List<myProject> myProjectList = new List<myProject>();




    public void create()
    {
        myProject temp = new myProject();
        temp.ID = 50;
        temp.Title = "test";
        myProjectList.Add(temp);

    }



}