@page "/wiki/agile-manifesto"

@inject NavigationManager Navigation
@inject ISnackbar Snackbar

<MudPaper Class="px-8 py-6 ma-4" Elevation="4">
    <MudText Typo="Typo.h4">Agile Manifesto</MudText>
    <MudText Typo="Typo.subtitle1" Class="mb-4">
        The Agile Manifesto can be found <a href="https://agilemanifesto.org" target="_blank" style="color: #1e90ff;">here</a>.
    </MudText>
</MudPaper>

@code {
}
